[data-testid="two-column-left"] .sl-bg-success {
  background-color: blue;
  color: white;
}

[data-testid="two-column-left"] .sl-text-success {
  color: blue;
}

[data-testid="two-column-left"] .sl-bg-warning {
  background-color: red;
  color: white;
}

[data-testid="two-column-left"] .sl-text-warning {
  color: red;
}

[data-testid="two-column-right"] .sl-bg-canvas-200 {
  background-color: #e0e6f0;
}

[data-testid="two-column-right"] .sl-bg-canvas-100 {
  background-color: #ebeef5;
}

[data-testid="two-column-right"] .function {
  color: blue !important;
}

/*[data-testid="two-column-right"] .TryItPanel.sl-bg-canvas-100.sl-rounded-lg {*/
/*  background-color: ;*/
/*}*/

#testButton {
  border: 5px solid red;
}

@media screen and (max-width: 1200px) {
  .sl-flex.sl-overflow-y-auto.sl-flex-col.sl-sticky.sl-inset-y-0.sl-pt-8.sl-bg-canvas-100.sl-border-r {
    display: none;
  }
  .sl-stack.sl-stack--vertical.sl-stack--8.HttpOperation.sl-flex.sl-flex-col.sl-items-stretch.sl-w-full > .sl-flex:nth-child(2) {
    flex-direction: column;
  }

  [data-testid="two-column-left"] {
    width: auto;
    max-width: 600px;
  }

  [data-testid="two-column-right"].sl-ml-16 {
    margin-left: 0;
    width: auto;
    max-width: 600px;
  }

}