[data-testid="two-column-left"] .sl-bg-success {
  background-color: blue;
  color: white;
}

[data-testid="two-column-left"] .sl-text-success {
  color: blue;
}

[data-testid="two-column-left"] .sl-bg-warning {
  background-color: red;
  color: white;
}

[data-testid="two-column-left"] .sl-text-warning {
  color: red;
}

[data-testid="two-column-right"] .sl-bg-canvas-200 {
  background-color: #e0e6f0;
  color: black;
}

[data-testid="two-column-right"] .sl-bg-canvas-100 {
  background-color: #ebeef5;
  color: black;
}

[data-testid="two-column-right"] .function {
  color: blue !important;
}

/*[data-testid="two-column-right"] .TryItPanel.sl-bg-canvas-100.sl-rounded-lg {*/
/*  background-color: ;*/
/*}*/

#testButton {
  display: none;
  border: 5px solid red;
}

#accordionExample {
  display: unset;
}

.unset-hidden {
  display: unset !important;
}

.sl-inverted {
  color: black !important;
}

#attachMenu {
  background: #ebeef5;
}

.sl-my-3 {
  padding: 20px 0;
  margin: 0;
}

@media screen and (max-width: 800px) {

  #accordionExample {
    display: none;
  }

  #attachMenu {
    z-index: 5000;
    position: absolute;
    width: 100%;
  }

  .sl-stack.sl-stack--vertical.sl-stack--8.HttpOperation.sl-flex.sl-flex-col.sl-items-stretch.sl-w-full > .sl-flex:nth-child(2) {
    flex-direction: column;
  }

  [data-testid="two-column-left"] {
    width: auto;
    max-width: unset;
  }

  [data-testid="two-column-right"].sl-ml-16 {
    margin-top: 30px;
    margin-left: 0;
    width: auto;
    max-width: unset !important;
  }

  .sl-px-24 {
    padding-right: 20px;
    padding-left: 20px;
  }

  #testButton {
    display: unset;
  }

}